body{
    padding: 0;
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Prompt', sans-serif;
    color: #444;
    font-weight: lighter;
}
label{
    font-weight: lighter;
}
.login_form{
    text-align: center;

}

.login_form{
    width: 40%;
    /* border: 1px solid black;
    border-radius: 20px; */
    margin: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate( -50% , -50%)

}

.header {
    height: 120px;
    border-radius: 17px 17px 0 0;
    background: #20262A;
    border: 1px solid #20262A;
}

.header img{
    width: 90px;
    margin: 10px;
    margin-left: 20px;
}
.header p{
    
    font-size: 60px;
}

.body_{
    border-radius: 0 0 17px 17px;
    border: 1px solid #20262A;
}

td {
    padding: 7px 3px;
}

td input{
    border: 1px solid #888;
    border-radius: 3px;
    color: #00B16A;
    padding: 3px 5px;
}

td input:focus{
    border: 1px solid #20262A;
    color: black;
}

td input::selection{
    border: 1px solid #20262A;
}

.submit__{
    width: 20%;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 7px 20px;
    margin-bottom: 15px;
    background: #eee;
    transition: all 500ms;
}

.submit__:hover{
    background: #777;
    color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #00B16A;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  /* transition: background-color 5000s ease-in-out 0s; */
}

.allow_permission {
    text-align: left;
}

.allow_permission ul{
    text-align: left;
    list-style-type: none;
}

.allow_permission ul li{
    margin: 15px 0;
    
}

.submit__author{
    width: 20%;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 7px 20px;
    margin-bottom: 15px;
    background: #ccffb3;
    transition: all 500ms;
}

.submit__author:hover{
    background: #99ff66;
    color: black;
}


.submit__dec{
    width: 20%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 7px 20px;
    margin-bottom: 15px;
    background: #ffcccc;
    transition: all 500ms;
}

.submit__dec:hover{
    background: #ff8080;
    color: black;
}