<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Unixdev Leave Online</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> {% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">
    
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <script src={% static 'config.js' %}></script>
  </head>

  <body>
      <div class="balckground_opa googleS" style="">
      </div>
      
      <div class="balckground_approve" style="">
        <img src="{% static "img/Double Ring-1.4s-130px.gif" %}">
      </div>

      <div class="balckground_detail detailFade" style="">
      </div>
      

      <div class="content_detail_modal">
        
        <div  class="content_detail">
        <div>
          <img class="close-modal" style="width: 5%; float: right;" src="{% static "img/cross_test.png" %}">
        </div>
          <h1>รายระเอียด</h1>
          <div style="width:50%; margin:10px auto; " id="barchart"></div>
          <div class="content_ddd"></div>
        </div>
      </div>
      <div style="z-index:10 ;display: none; " class="content_detail detailFadeTest">  
          <h1>รายระเอียด</h1>
          <div style="width:50%; margin:10px auto; " id="barchart"></div>
          <div class="content_ddd"></div>
      </div>
      

      <div style="">
        <div class="header">
          <div class="braner">
            <h1><a href="{% url 'frontend:index' %}"><span style="color:orange;">Unix</span><span style="color:black;">Dev</span></a></h1>
          </div>
          <div class="user_auth">
            {% if auth_.status_login %}
              <p>
                ชื่อผู้ใช้งาน : <span pkid="{{auth_.userpk}}" id="username_">{{auth_.user}}</span>
                แผนก : <span id="department_">{{depName}}</span>
                ตำแหน่ง : <span id="position_">{{posName}}</span>
                <a href="{% url 'frontend:logout' %}">ออกจากระบบ</a>
              <p>
            {% else %}
              
              <a href="/account/login/">เข้าสู่ระบบ</a>
            {% endif %}
          </div>
          
        </div>
        {% comment %} <hr> {% endcomment %}
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>

        
        {% comment %} <hr style="clear: both;"> {% endcomment %}
        {% comment %} Footer
        <div class="user_info">
          {% if auth_.status_login %}
            <p>
              User : <span pkid="{{auth_.userpk}}" id="username_">{{auth_.user}}</span> <br>
              Department : <span id="department_">{{depName}}</span> <br> 
              Position : <span id="position_">{{posName}}</span> <br>
            <p>
          {% endif %}
        
        </div> {% endcomment %}
    </div>
  </body>

</html>