<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> {% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">
  
    {% load static %}

    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <script src={% static 'config.js' %}></script>
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>

  <body>
      
      <div class="balckground_opa googleS" style="">
      </div>
      
      <div class="balckground_approve" style="">
        <img src="{% static "img/Double Ring-1.4s-130px.gif" %}">
      </div>

      <div style="">
        <div class="header">
          <div class="braner">
            <h1><a href="{% url 'frontend:index' %}"><span style="color:black">Unix</span><span>Dev</span></a></h1>
          </div>

          
        </div>
        {% comment %} <hr> {% endcomment %}
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>

    </div>
  </body>

</html>