{% extends 'base/base.html' %} {% block content %}
<div style="margin-top: 30px">

  {% load static %}
  <div class="login_form">
    <div class="header" style="text-align: left">
      <img src={% static 'img/unixdev-logo-web-h122.png' %} alt="">
    </div>
    <div class="body_">
      <div style=" margin: 33px 0;">
        <h2 style="font-size: 33px;">เข้าสู่ระบบ</h2>
      </div>
      <div style='text-align: left; padding: 0 40px'>
        <form class="form-group" action="{% url 'account:login' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="login_username">ชื่อผู้ใช้งาน</label>
            <input class="form-control" type="text" name="id" id="login_username" style="" required />
          </div>
          <div class="form-group">
            <label for="regis_password">รหัสผ่าน : </label>
            <input class="form-control" type="password" name="password" id="regis_password" style="" required />
          </div>
      </div>
      {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% endif %}
      <!-- {% comment %}
        <label for="login_username">ชื่อผู้ใช้งาน : </label>
        <input type="text" name="id" id="login_username" required/><br />
        <label for="regis_password">รหัสผ่าน : </label>
        <input type="password" name="password" id="regis_password" required/><br />
        {% endcomment %} -->
      <input style="margin: 20px" class="btn btn-primary" type="submit" value="เข้าสู่ระบบ" />
      </form>
    </div>
  </div>
</div>
{% endblock %}