{% extends 'base/base.html' %} {% block content %}
{% load static %}
<div style="margin-top: 30px">
    <div style="" class="login_form">
        <div class="header" style="text-align: left">
          <img src={% static 'img/unixdev-logo-web-h122.png' %} alt="">
        </div>
        <div class="body_">
          <div style=" margin: 33px 0;">
            <h2 style="font-size: 33px;">สมัครสมาชิก</h2>
          </div>
      
          <form class="register_form" style="text-align:center;" action="{% url 'account:register' %}" method="post">
            {% csrf_token %}
      
            <div style='text-align: left; padding: 0 40px'>
              <form class="form-group" action="{% url 'account:login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">ชื่อผู้ใช้</label>
                  <input class="form-control" name="username" id="username" type="text" required>
                </div>
                <div class="form-group">
                  <label for="email">อีเมล</label>
                  <input class="form-control" name="email" id="email" type="email" required>
                </div>
                <div class="form-group">
                  <label for="regis_password">รหัสผ่าน</label>
                  <input class="form-control" name="regis_password" id="regis_password" type="password" required>
      
                </div>
                <div class="form-group">
                  <label for="regis_againpassword">ย้ำรหัสผ่าน</label>
                  <input class="form-control" name="regis_againpassword" id="regis_againpassword" type="password" required>
                </div>
            </div>
      
            <input style="margin: 20px" class="btn btn-primary" type="submit" value="เข้าสู่ระบบ" />
          </form>
        </div>
      </div>
</div>

{% endblock %}